<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <com.openshift.jenkins.plugins.pipeline.OpenShiftDeployer plugin="openshift-pipeline@1.0.12">
            <apiURL></apiURL>
            <namespace>testing</namespace>
            <authToken></authToken>
            <verbose>false</verbose>
            <depCfg>eap-app</depCfg>
        </com.openshift.jenkins.plugins.pipeline.OpenShiftDeployer>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>